body {
margin: 0;
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
scroll-behavior: smooth;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px;
background: #020617;
}

nav a {
color: white;
margin: 0 10px;
text-decoration: none;
}

.hero {
text-align: center;
padding: 80px 20px;
background: linear-gradient(135deg, #1e293b, #0f172a);
}

.btn {
padding: 10px 20px;
background: #3b82f6;
color: white;
border: none;
cursor: pointer;
margin-top: 10px;
}

section {
padding: 60px 20px;
text-align: center;
}

.card {
background: #1e293b;
margin: 10px auto;
padding: 15px;
width: 250px;
border-radius: 8px;
}

.project {
background: #1e293b;
padding: 20px;
border-radius: 8px;
width: 300px;
margin: auto;
}

footer {
background: black;
padding: 15px;
text-align: center;
}

/* Light Mode */
.light {
background: white;
color: black;
}
